extends layout

block content
  header
    h1= title
  article
    input(type='text', id='todo_contents')
    button(type='button', id='addButton') 추가
  article(id='todoArea')
block script
  script(type='text/javascript', src='/javascripts/todo.js')