extends layout

block content
  h1= title
  input(type='text', name='addTodoInput', id='addTodoInput')
  input(type='button', name='addTodoButton', id='addTodoButton', value='추가')
block script
  script(type='text/javascript', src='/javascripts/todo.js')