mixin makeTodoElement(todo_id, todo_contents)
    div(id=todo_id)
      span(class='contents')= todo_contents
      input(type='text', class='updateContents', value=todo_contents, style='display:none;')
      button(class='updateButton', onclick='updateChangeDisplay(event.currentTarget.parentNode)') 수정
      button(class='deleteButton', onclick='deleteTodoList(event.currentTarget.parentNode)') 삭제
      button(class='completeButton', onclick='updateTodoList(event.currentTarget.parentNode)', style='display:none;') 완료
      button(class='resetButton', onclick='resetChangeDisplay(event.currentTarget.parentNode)', style='display:none;') 취소